body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
    overflow-x: hidden;
    position: relative;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

h2 {
    font-size: 3em;
    margin-bottom: 30px;
    color: #fff;
}

.contact-info {
    margin-top: 20px;
    font-size: 1.2em;
}

.contact-info p {
    margin: 20px 0;
    color: #ccc;
    line-height: 1.6;
    transition: color 0.3s;
}

.contact-info a {
    color: #1e90ff;
    text-decoration: none;
    transition: color 0.3s;
}

.contact-info a:hover {
    color: #ff6347;
    text-decoration: underline;
}

.social-media {
    margin: 20px 0;
}

.social-media a {
    margin: 0 10px;
    font-size: 2em;
    color: #fff;
    transition: color 0.3s, transform 0.3s;
}

.social-media a:hover {
    color: #1e90ff;
    transform: scale(1.2);
}

@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    h2 {
        font-size: 2.5em;
    }

    .contact-info {
        font-size: 1em;
    }

    .social-media a {
        font-size: 1.5em;
    }
}
