* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #121212;
    color: #fff;
    margin: 0;
    font-size: 16px;
}

header {
    background: #1f1f1f;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

header .profile-pic {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    border: 3px solid #fff;
    margin-bottom: 20px;
    transition: transform 0.3s;
}

header .profile-pic:hover {
    transform: scale(1.05);
}

nav {
    background: #faf8ffda;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    z-index: 1000;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ff6347;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

.section {
    padding: 40px;
    transition: background-color 0.3s;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    background-color: #222; /* Darker background color */
    margin: 20px 0;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    color: #ff6347;
}

.project {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.project img {
    max-width: 100%;
    height: auto;
    margin-right: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px #e8c3c34d;
    transition: transform 0.3s;
}

.project img:hover {
    transform: scale(1.05);
}

footer {
    background: #e7c5c5;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    border-top: 1px solid #e8c3c34d;
}

.slow-animation {
    animation-duration: 3s;
}

.about p {
    font-weight: normal;
}

.skill {
    display: inline-block;
    text-align: center;
    margin: 20px;
}

.skill img {
    max-width: 100px;
    height: auto;
}

.skill p {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.skill {
    margin: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.skill img {
    width: 100px;
    height: auto;
}

.skill p {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}

.skill:hover {
    transform: scale(1.1);
}

.highlight {
    color: #e8c3c34d;
}
.bg-square {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3); /* Adjust opacity and color as desired */
    z-index: -1; /* Ensure it stays behind other elements */
}
.image-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-gallery img {
    width: 150px; /* Adjust as needed */
    height: auto;
    margin: 10px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}