body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background: #0f172a;
    color: white;
}

.container {
    width: 85%;
    margin: auto;
    text-align: center;
}

.hero {
    padding: 80px 0;
    background: linear-gradient(135deg, #1e293b, #0f172a);
}

.profile {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

h1 { font-size: 2.5em; }
h2 { color: #38bdf8; }

.buttons {
    margin-top: 20px;
}

.btn {
    background: #38bdf8;
    padding: 10px 20px;
    color: black;
    text-decoration: none;
    margin: 10px;
    border-radius: 5px;
}

.btn-outline {
    border: 1px solid #38bdf8;
    padding: 10px 20px;
    color: #38bdf8;
    text-decoration: none;
    border-radius: 5px;
}

.section {
    padding: 60px 0;
}

.dark {
    background: #020617;
}

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 20px;
}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    gap: 20px;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.social a {
    color: white;
    margin: 10px;
    font-size: 1.5em;
}